/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

main {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    border-top: 2px solid #0065FC ;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/****** header ******/
header{
    margin-bottom: 30px;
   
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}

.logo-booki {
    Width : 61.09px ;
    Height : 19px ;
    padding: 30px 50px 30px 50px;
}

.liens-navigation-hebergements-activites {
    padding : 0px, 50px, 0px, 50px ;
    gap: 68px;
    margin-bottom: 44px;
    margin-right: 50px;
    display: flex;
    justify-content: flex-end ;
   }
/******Formulaire de recherche******/

.formulaire-de-recherche {
    display: flex;
    flex-direction: row;
    border: 1px #F2F2F2 solid;
    margin: 30px 0px 30px 0px;    
    width: 377px;
    height: 49px;
    
   }

.icone-recherche {
    display: flex;
    border: 1px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    width: 50px;
    height: 49px;
    justify-content: center;
    align-items: center;
}

.icone-recherche .fa-solid {
    color: #000000;
    width: 14px;
    height: 18px;
    top: 15px;
    left: 18px;
}

input {
    color: #000000;
    width: 195px;
    height: 49px;
    font-weight: 700;

}
.cta {
    background-color: #0065FC;
    color: white ;
    font-size: 18px;
    width: 132px;
    Height: 49px;
    border-radius: 0px 15px 15px 0px;
    border: 1px ;
    padding: 15px 16px 15px 16px;
    gap: 10px;
    font-weight: 700;
    cursor: pointer;
}

/*Essai bouton loupe*/

.cta-2 {
    position: relative;
    width: 49px;
    height: 49px;
    color: white;
    background-color: #0065FC;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.cta-2::before {
    content: "\f002";
    left: 50%;
    top: 50%;
    font-size: 17px;
    color: white;    
    
}

/****** Filtres ******/

.filtres {
    display: flex;
    width: 758px;
    height: 50px;
    gap: 15px;
    margin: 20px 0px 20px 0px;
}

.filtres-bouton {
    border: 2px #d9d9d9 solid;
    border-radius: 25px;
    font-size: 17px;
    line-height: 19,96px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 19px 4px 19px;
    gap: 10px;
    cursor: pointer;
}

.filtres-bouton:hover {
    background-color: #DEEBFF;
}

.titre-filtres {
    font-weight: 700;
}

/******Info nb d'hébergement******/
.info-nb-hebergements {
    display: flex;
    gap: 10px;
    align-items: center;
}

.fa-info {
    border: 1px #d9d9d9 solid;
    border-radius: 12px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}



.cta-2 {
    position: relative;
    width: 49px;
    height: 49px;
    color: white;
    background-color: #0065FC;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.cta-2::before {
    content: "\f002";
    left: 50%;
    top: 50%;
    font-size: 17px;
    color: white;    
}
