/**************************/
/****** General ***********/
/**************************/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

body {
    max-width: 1440px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fa-solid {
    color: var(--main-color);
}

main {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    flex-direction: column;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: #000000;
    text-decoration: none;
}

.div-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro, h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 2em;
    padding: 30px 0;
}

.neutral-star {
    color: var(--main-bg-color)
}

/**************************/
/****** header ************/
/**************************/
header{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
}

.logo-container {
    width : 100px; /* taille du logo */
}

.liens-navigation-hebergements-activites a {
    margin-left: 15px;
}

.liens-navigation-hebergements-activites a:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}

/***********************************/
/******Formulaire de recherche******/
/***********************************/

.formulaire-de-recherche {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0;
    width: fit-content;
    border-radius: 15px;
    overflow: hidden;
}

.icone-recherche {
    background-color: var(--main-bg-color);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-recherche .fa-solid {
    color: #000000;
}

.champ-recherche {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.search {
    height: 50px;
    border: 1px solid var(--main-bg-color);
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    padding-left: 20px
}
.search::placeholder {
    color: #000000;
    font-weight: 700;
    opacity: 1;
}

.cta {
    height: 50px;
    background-color: var(--main-color);
    color: #FFF;
    border: none;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.formulaire-de-recherche-mobile {
    display: none;
}



/***************************************/
/*********** Filtres *******************/
/***************************************/

.filtres {
    display: flex;
    align-items: center;
    width: 758px;
    height: 50px;
    gap: 15px;
    margin: 20px 0px 20px 0px;
}

.filtres-bouton {
    border: 2px #d9d9d9 solid;
    border-radius: 25px;
    font-size: 17px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 19px;
    gap: 10px;
    cursor: pointer;
    font-weight: 700;
}

.filtres-bouton:hover {
    background-color: #DEEBFF;
}

.titre-filtres {
    font-weight: 700;
}
/*********************************/
/******Info nb d'hébergement******/
/*********************************/

.info-nb-hebergements {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 20px 0;
}

.fa-info {
    border: 1px #d9d9d9 solid;
    border-radius: 12px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/****** Hebergements And Populaires ***********/


.hebergements-and-populaires {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hebergements-and-populaires .hebergements .populaires {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/**********************************************/
/****** Hebergements ***********/
/**********************************************/

.hebergements {
    background-color: var(--main-bg-color);
    border-radius: 15px;
    width: 65%;
    display: flex;
    flex-direction: column;
}

.hebergements-title {
    display: flex;
    justify-content: flex-start;
    font-size: 22px;
    padding: 20px;

}

.bloc-hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hebergements-cards .card {
    display: flex;
    margin-top: 33px;
    flex-direction: column;
    width: 240px;
    height: 207px;
}

.hebergements-cards img {
    width: fit-content;
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.hebergements-cards .card-content {
    width: 100%;
    padding: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    line-height: 1.5;
}

.afficher-plus a:hover {
    cursor: pointer;
}

.afficher-plus {
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
}


/**********************************************/
/****** Populaires ***********/
/**********************************************/

.populaires {
    background-color: var(--main-bg-color);
    width: 32%;
    border-radius: 15px;
    
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 22px;
    
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
}

.populaires-cards .card {
    display: flex;
    margin-top: 15px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    
    margin-bottom: 5px;
}

/*******************************************************/
/*******************Activités***************************/
/*******************************************************/

.activites {
    display: flex;
    flex-direction: column;
}

.activites-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 22px;
    margin: 30px 0 0 47px;
}

.bloc-activites-cards {
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
   
}

.activites-cards  {
 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    height: 439px;
    border-radius: 20px;
    overflow: hidden;
}

.activites-cards .card {
    padding: 0;
}

.activites-cards img {
    height: 380px;
    width: 100%;
    

}

.activites .card-title {
    padding: 20px;
}

/*******************************************************/
/*******************Footer***************************/
/*******************************************************/

.footer-container {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
    margin: 45px;
    padding: 10px;
  
   
}

.footer-box {
    display: flex;
    flex-direction: column;
    line-height: 1.8;
    flex: 1;
   
}

.footer-title {
    font-size: 24px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/



/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}





/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {


    /**************** Header mobile ***************/

    header{
        display: flex;
        flex-direction: column;
        max-width: 767.98px;
    }
    
    .logo-container {
        width : 100px; /* taille du logo */
        padding: 30px;
        align-items: center;
    }

    .liens-navigation-hebergements-activites {
        display: flex;
        justify-content: center;
    }
    
    .liens-navigation-hebergements-activites a {
        margin: 0 30%;
        font-size: 25px;
    }
    
    .liens-navigation-hebergements-activites a:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }
    
    /**************** Formulaire de recherche mobile ***************/
    
    .formulaire-de-recherche{
        display: none;
    }

    .formulaire-de-recherche-mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 30px 0;
        width: fit-content;
        border-radius: 15px;
        overflow: hidden;
    }
    
    .icone-recherche {
        background-color: var(--main-bg-color);
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .icone-recherche .fa-solid {
        color: #000000;
    }
    
    .champ-recherche {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .search {
        height: 50px;
        border: 1px solid var(--main-bg-color);
        color: #000000;
        font-size: 18px;
        font-weight: 700;
        padding-left: 20px
    }
    .search::placeholder {
        color: #000000;
        font-weight: 700;
        opacity: 1;
    }

    .cta-2 {
        height: 50px;
        background-color: var(--main-color);
        border: none;
        padding: 0 20px;
        cursor: pointer;
        color: #FFF;
        font-size: 700;
        font-size: 22px;
    }

    .cta-2  i {
        color: #FFF
    }
    
    /**************** Filtres mobile ***************/
 
    .filtres {
        max-width: 767,98px;
        display: grid;
        grid-template-columns: 180px 180px;
        grid-template-rows: 50px 50px;
        gap: 20px;
        margin-bottom: 30px;
        padding: 0;

    }

    .titre-filtres {
        grid-column: 1/3;
        
       
    }









}



